@import '@fontsource/averia-serif-libre';
@import '@fontsource-variable/bitter';

p, li, table {
    font-family: 'Averia Serif Libre', sans-serif;
    font-weight: 200;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    width: 100%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: 'Bitter Variable', sans-serif;
    color: white;
}
h1 {
    font-size: 5rem;
    font-weight: 600;
}
h2 {
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
}
h3, h4 {
    margin-top: 10%;
    text-align: left;
}
h3 {
    font-size: 3rem;
    font-weight: 400;
}
h4 {
    font-size: 2rem;
    font-weight: 300;
}
h5, h6 {
    margin-top: 5%;
    text-align: left;
}
h5 {
    font-size: 1rem;
    font-weight: 200;
}
h6, th {
    font-size: 0.8rem;
    font-weight: 100;
}

code {
    width: fit-content;
    border-radius: 5%;

}

.link {
    text-decoration: none;
    color: white;
}

.linkContainer {
    border-radius: 12px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: fit-content;
}

.title,
.subtitle {
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: white;
    font-family: 'Averia Serif Libre', sans-serif;
    line-height: 1;
}

.title {
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 30%;
    margin-top: 10%;
}

.subtitle {
    font-size: 3rem;
    font-weight: 300;
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 5vw;
    }
    
    .subtitle {
        font-size: 3vw;
    }
}