@import '@fontsource/share-tech-mono';

nav {
    position: fixed;
    right: 0vw;
    top: 5%;
    z-index: 2;
    width: 10vw;
    height: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navItem {
    border-radius: 8px;
    border-image: radial-gradient(#00d3d3, #7500d4);
    border-style: solid;
    width: 120%;
    height: 10%;
    margin: 0;
    padding: 0;
    margin-right: -110%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: black, 20px;
}

@keyframes NavSelected {
    from {
        margin-right: -110%;
    }

    to {
        margin-right: -30%;
    }
}

.navItem:hover {
    animation: NavSelected 0.5s ease-in-out;
    margin-right: -30%;
}

.navItem a {
    margin-right: 30%;
    margin-left: 10%;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Share Tech Mono', sans-serif;
}