@import '@fontsource/share-tech-mono';

.navContainer {
    position: fixed;
    top: 0%;
    z-index: 2;
    width: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -7%;
}

nav {
    height: 100%;
    width: 70%;
    background-color: rgb(255, 255, 255);
}

.navItem {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: black, 20px;
}

@keyframes NavSelected {
    from {
        margin-left: -7%;
    }

    to {
        margin-left: 0%;
    }
}

.navContainer:hover {
    animation: NavSelected 0.5s ease-in-out;
    margin-left: 0%;
}

.navItem a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Share Tech Mono', sans-serif;
}

.label p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: 90%
}

.label {
    position: relative;
    background-color: #3d4aff;
    border-color: #00eeff;
    border-radius: 8px;
    width: 30%;
}

@media screen and (max-width: 1200px) {
    .label {
        display: none;
        width: 0%;
    }
    .label p {
        display: none;
    }

    .navContainer {
        width: 100%;
        height: 5%;
        margin: 0;
        padding: 0;
    }

    .navContainer:hover {
        animation: none;
        margin-left: 0%;
    }

    nav {
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: black, 20px;
    }

    .navItem {
        width: 10%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: black, 20px;
    }

    .navItem a {
        color: black;
        text-decoration: none;
        font-size: 2rem;
        font-family: 'Share Tech Mono', sans-serif;
    }
}