@import '@fontsource-variable/rubik';
@import '@fontsource/comic-neue';
@import '@fontsource-variable/outfit';

h2 {
    width: 100%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    font-family: "Outfit Variable", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 5rem;
}

p {
    font-family: "Comic Neue", sans-serif;
    font-weight: 500;
    color: white;
}

section {
    width: 40%;
}

.hContainer {
    align-items: center;
}

iframe {
    width: 100%;
    height: 40vh;
}

video {
    width: 100%;
    min-height: 100%;
}