---
import BasicLayout from "../layouts/NewBasicLayout.astro";
import AnimBlock from "../components/AnimationBlock.astro";
import Item from "../components/Item.astro";
const title = "Home";
import "../styles/HoverUnderline.css";
import "../styles/Default.css";

const renders = await Astro.glob("../pages/projects/renders/*.mdx");

var filteredPages = [];
for (var i = 0; i < renders.length; i++) {
    if (renders[i].frontmatter.featured) {
        filteredPages.push(renders[i]);
    }
}
---

<BasicLayout title={title}>
    <div class="container">
        <AnimBlock backColour="#ffffff" class="container">
            <p style="text-align: left;" class="title">
                I am a <a class="link" href="/projects/renders/"
                    ><span class="hover-underline-animation">3D modeller</span
                    ></a
                >
            </p>
        </AnimBlock>
        <AnimBlock backColour="#ffffff" class="container">
            <p style="text-align: left;" class="title">
                I am a <span class="hover-underline-animation">programmer</span>
            </p>
        </AnimBlock>
        <AnimBlock backColour="#ffffff" class="container">
            <p style="text-align: left;" class="title">
                I am a <span class="hover-underline-animation">voice actor</span
                >
            </p>
        </AnimBlock>
        <AnimBlock backColour="#ffffff" class="container">
            <p style="text-align: left;" class="title">
                I am <span class="hover">Thomas Lower</span>
            </p>
        </AnimBlock>
    </div>
    <div style="margin-top: 10%;" class="container listContainer">
            <AnimBlock startLocation="right" class="container">
                <p class="subtitle">
                    Som<span class="hover-underline-animation"
                        >e of the stuff I've made</span
                    >
                </p>
            </AnimBlock>
            {
                filteredPages.map((page) => (
                    <Item
                        image={page.frontmatter.image}
                        title={page.frontmatter.title}
                        float={
                            Math.floor(Math.random() * 2)
                        }
                        link={page.url}
                        mb={Math.floor(Math.random() * 20) + "%"}
                    />
                ))
            }
    </div>
</BasicLayout>