---
const { image, title, ml, link } = Astro.props;
import AnimBlock from "../components/AnimationBlock.astro";
import "../styles/HoverUnderline.css";
import "../styles/Default.css";
---

<div class="itemContainer">
    <a class="link container" href={link}>
            <p class="hover-underline-animation subtitle" style="margin-bottom: 5%;">{title}</p>
        <img src={image} alt={"an image displaying " + title} />
    </a>
</div>

<style define:vars={{ ml, }}>
    @import "@fontsource-variable/baloo-bhaina-2";
    .itemContainer {
        width: 60%;
        margin-top: 5%;
        margin-left: var(--ml);
    }
</style>
