---
const { image, title, float, link, mb } = Astro.props;
import AnimBlock from "../components/AnimationBlock.astro";
import "../styles/HoverUnderline.css";
import "../styles/Default.css";
var ml = "10%";
var mr = "10%";
if (float == "left") {
    ml = "5%";
    mr = "15%";
} else if (float == "right") {
    ml = "15%";
    mr = "5%";
} else if (float == "center") {
    ml = "10%";
    mr = "10%";
}
---

<div class="itemContainer">
    <a class="link" href={link}>
        <AnimBlock class="container" startLocation="bottom">
            <p class="hover-underline-animation subtitle">{title}</p>
        </AnimBlock>
        <AnimBlock class="container" startlocation="right">
            <div>
                <img src={image} alt={"an image displaying " + title} />
            </div>
        </AnimBlock>
    </a>
</div>

<style define:vars={{ ml, mr, mb }}>
    @import "@fontsource-variable/baloo-bhaina-2";
    .itemContainer {
        width: 30%;
        height: 30%;
        margin-top: var(--mb);
        margin-left: var(--ml);
        margin-right: var(--mr);
        background-color: #000000;
    }

    .container div {
        height: 100%;
    }

    .container {
        padding-bottom: 5%;
    }

    .itemContainer a {
        width: 100%;
        height: 100%;
    }
</style>
