---
const { image, title, float, link } = Astro.props;
import AnimBlock from "../components/AnimationBlock.astro";
import "../styles/HoverUnderline.css"
var ml = "10%";
var mr = "10%";
if (float == "left") {
    ml = "5%";
    mr = "15%";
} else if (float == "right") {
    ml = "15%";
    mr = "5%";
} else if (float == "center") {
    ml = "10%";
    mr = "10%";
}
---

<style define:vars={{ ml, mr }}>
    @import "@fontsource-variable/baloo-bhaina-2";
    .itemContainer {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: var(--ml);
        margin-right: var(--mr);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .AnimBlock {
        width: 35vw;
    }
    img {
        width: 50%;
    }
    .p {
        font-family: "Baloo Bhaina 2 Variable", sans-serif;
        font-weight: 400;
        font-size: 2rem;
        text-decoration: none;
        color: black;
        width: 100%;
        line-height: 1;
    }
</style>

<a class="itemContainer p" href={link}
    ><div class="itemContainer">
        <AnimBlock class="AnimBlock" startLocation="bottom">
            <p class="hover-underline-animation p">{title}</p>
        </AnimBlock>
        <AnimBlock class="AnimBlock" startlocation="right">
            <img src={image} alt={"an image displaying " + title} />
        </AnimBlock>
    </div></a
>
