---
import "../styles/NavBar.css";
---
<div class="navContainer">
<nav>
    <div class="navItem">
        <a href="/">Home</a>
    </div>
    <div class="navItem">
        <a href="/projects/renders/">Renders</a>
    </div>
    <div class="navItem">
        <a href="/">Home</a>
    </div>
    <div class="navItem">
        <a href="/">Home</a>
    </div>
</nav>
<div>