---
import "../styles/NavBar.css";
import "../styles/HoverUnderline.css"
---

<div class="navContainer">
    <nav>
        <div class="navItem">
            <a class="hover-underline-animation" href="/">Home</a>
        </div>
        <div class="navItem">
            <a class="hover-underline-animation" href="/projects/renders/">Renders</a>
        </div>
    </nav>
    <div class="label">
        <p>hover here for nav</p>
    </div>
</div>
