---
import "../styles/NavBar.css";
import "../styles/HoverUnderline.css"
---

<div class="navContainer">
    <nav>
        <div class="navItem hover-underline-animation">
            <a href="/">Home</a>
        </div>
        <div class="navItem hover-underline-animation">
            <a href="/projects/renders/">Renders</a>
        </div>
    </nav>
    <div class="label">
        <p>Hover over here to open the navbar</p>
    </div>
</div>
