---
import Layout from "../../../layouts/ProjectIndexLayout.astro";
import AnimBlock from "../../../components/AnimationBlock.astro";
import Item from "../../../components/Item.astro";
const title = "Voice Acting";
import "../../../styles/Projects.css";
import "../../../styles/HoverUnderline.css";
const pages = await Astro.glob("../va/*.mdx");
---

<Layout title={title}>
    <div class="basicFill">
        <AnimBlock backColour="#ffffff" class="container">
            <p style="text-align: left;" class="title">
                I am a <a class="link" href="/projects/renders/"
                    ><span class="hover-underline-animation">Voice Actor</span
                    ></a
                >
            </p>
        </AnimBlock>
        <p class="subtitle">
            Voice Acting is a fun hobby of mine, heres a few of the things ive worked on:
        </p>
    </div>
    <div class="basicFill">
        <div class="items">
            {
                pages.map((page) => 
                    <Item
                        image={page.frontmatter.image}
                        title={page.frontmatter.title}
                        float="right"
                        link={page.url}
                    />
                )
            }
        </div>
    </div>
</Layout>