---
const { title } = Astro.props;
import Nav from "../components/NavBar.astro";
import logo from "../images/logo.jpg";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={logo}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} - Thomas Lower</title>
    </head>
    <body>
        <Nav />
        <slot />
    </body>
    <style>
    </style>
</html>
